.active, .header .link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    padding: 0 0.75rem;
}
.active {
    color: var(--cyan-color);
}
.header .link {
    color: var(--white-color);
}
.header .link:hover {
    color: var(--black-color);
}

@media only screen and (min-width: 768px) {
    .active {
        border-bottom: 2px solid var(--cyan-color);
    }
}