.active, .header .link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    padding: 0 0.75rem;
}
.active {
    color: var(--footer-bg-color);
}
.header .link {
    color: var(--custom-link-color);
}
.header .link:hover {
    color: var(--hover-red-color);
}

@media only screen and (min-width: 768px) {
    .active {
        border-bottom: 2px solid var(--active-link-border-color);
    }
}