h2 {
    font-family: 'Salsa', cursive;
}
.manage-inventory .link {
    background-color: var(--footer-icon-color);
    color: white;
}
.manage-inventory .link:hover {
    background-color: var(--hover-green-color);
}