.my-card {
    border-color: var(--blue-white-color);
    border-width: 2px;
}
.my-card:hover {
    border-color: var(--blue-white-color);
    outline: var(--blue-white-color) solid 3px;
}
.my-button, .my-button:hover, .my-button:focus {
    background-color: var(--blue-white-color);
    color: var(--black-color);
}