.inventory {
    padding: 0 2rem;
}
.add-new-item .link {
    background-color: var(--icon-bg-color);
    color: black;
}
.add-new-item .link:hover {
    background-color: var(--main-color);
    color: var(--active-link-color);
}

@media only screen and (min-width: 768px) {
    .inventory {
        padding: 0 4rem;
    }
}