.about-us-text h4 {
    font-family: 'Salsa', cursive;
}

@media only screen and (min-width: 768px) {
    .about-us-image {
        width: 50%;
    }
    .about-us-text {
        width: 50%;
    }
    .border-left {
        border-left: 3px solid var(--blue-white-color);
    }
}