.home-card {
    border-color: var(--blue-white-color);
    border-width: 2px;
}
.home-card:hover {
    border-color: var(--blue-white-color);
    outline: var(--blue-white-color) solid 3px;
}
.card-title {
    font-family: 'Salsa', cursive;
    font-weight: 600;
}
span {
    font-weight: 700;
}
.button, .button:hover, .button:focus {
    background-color: var(--blue-white-color);
    color: var(--black-color);
}