.card {
    border-color: var(--icon-bg-color);
    border-width: 2px;
}
.card:hover {
    border-color: var(--icon-bg-color);
    outline: var(--icon-bg-color) solid 3px;
}
.card-title {
    font-family: 'Salsa', cursive;
    font-weight: 600;
}
span {
    font-weight: 700;
}
.button, .button:hover, .button:focus {
    background-color: var(--icon-bg-color);
    color: black;
}