.footer {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 3rem 0;
}
.footer .link {
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
}
.footer .link:hover, .footer span, .fa-icon:hover {
    color: var(--cyan-color);
}
.fa-icon {
    background-color: var(--blue-white-color);
    font-size: 1.5rem;
}
.fa-icon:hover {
    background-color: var(--blue-black-color);
}
.footer span {
    font-family: 'Salsa', cursive;
}