:root {
    --main-color: #C2F9BB;
    --hover-red-color: #EF767A;
    --hover-green-color: #A5D49F;
    --custom-link-color: #64748b;
    --footer-bg-color: #1B998B;
    --footer-icon-color: #6BBDB4;
    --active-link-border-color: #20B2AA;
}